---

import Layout from "../layouts/Layout.astro"
import People from "../components/People.astro"
import Projects from "../components/Projects.astro"
---

<Layout>
  <main>
    <People />
    <Projects />
  </main>
</Layout>
