---
import heroLogo from "../assets/BTGHero.svg"
import smallLogo from "../assets/BTGSmall.svg"
---

<header>
  <nav class="navbar">
    <ul>
      <li class="logo">
        <a href="/">
          <picture>
            <source srcset={heroLogo.src} media="(min-width: 640px)" />
            <source srcset={smallLogo.src} media="(min-width: 100px)" />
            <img src={heroLogo.src} alt="Build to Give Logo" />
          </picture>
        </a>
      </li>
      <div class="links">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </div>
    </ul>
  </nav>
</header>

<style>
  .navbar {
    padding-block: 2em;
    background-color: var(--clr-light);
    ul {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    img {
      max-width: 300px;
      height: 53;
      @media screen and (width < 600px) {
        max-height:53px;
      }
    }

    .links {
      display: flex;
      gap: 2em;
      margin-inline: 2em;
    }

    a {
      text-decoration: none;
      color: var(--clr-darkest);
      font-weight: 600;
      font-size: larger;
      text-transform: uppercase;
    }
    li {
      list-style-type: none;
    }
  }
</style>
