---
interface Props {
  tooltip?: string
  color?: string
}

const { tooltip, color } = Astro.props
const bgColor = color || "var(--clr-accent)"

---

<div class="pill" data-tooltip={tooltip}>
  <slot />
</div>


<style define:vars={{ bgColor }}>
  .pill {
    background-color: var(--bgColor);
    color: var(--clr-darkest);
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
  }
</style>