---
import Container from "./Container.astro"

interface Props {
  dark?: boolean
  main?: boolean
  id?: string
}

const { dark = false } = Astro.props
const { main = false } = Astro.props
const { id = "" } = Astro.props
const classNames = dark ? "dark" : ""

---

{
  main == true ? (
    <main class={classNames} id={id}>
      <Container>
        <slot />
      </Container>
    </main>
  ) : (
    <section class={classNames} id={id}> 
      <Container>
        <slot />
      </Container>
    </section>
  )
}

<style>
  section {
    padding-block: 80px;
    background-color: var(--primary);

    @media screen and (width < 1200px) {
      & {
        padding-block: 40px;
      }
    }
    @media screen and (width < 600px) {
      & {
        padding-block: 20px;
      }
    }
  }
  .dark {
    background-color: var(--clr-darkest);
    color: var(--clr-lightest);
  }
</style>
