---
import Container from "./Container.astro"

interface Props {
  dark?: boolean
  main?: boolean
  id?: string
}

const { dark = false } = Astro.props
const { main = false } = Astro.props
const { id = "" } = Astro.props
const classNames = dark ? "dark" : ""
---

{
  main == true ? (
    <main class={classNames} id={id}>
      <slot />
    </main>
  ) : (
    <section class={classNames} id={id}>
      <Container>
        <slot />
      </Container>
    </section>
  )
}

<style>
  section {
    padding-block: 80px;
    background-color: var(--primary);
    container-type: inline-size;
    container-name: section;

    @media screen and (width < 1200px) {
      & {
        padding-block: clamp(3rem, 10vw, 5rem);
      }
    }

    @media screen and (width < 600px) {
      & {
        padding-block: clamp(1.5rem, 10vw, 3rem);
      }
    }
  }
  main {
    container-type: inline-size;
    container-name: main;
  }

  .dark {
    background-color: var(--clr-darkest);
    color: var(--clr-lightest);
  }
</style>
