---
import Section from "./Section.astro"
import Pill from "./Pill.astro"

import { getCollection } from "astro:content"

const services = await getCollection("services")
---

<Section>
  <h2>What we offer</h2>
  <div class="service-list">
    {services.map((service) => <Pill>{service.data.title}</Pill>)}
  </div>
</Section>

<style>
  .service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
</style>