---
import Section from "./Section.astro"
import Pill from "./Pill.astro"

const services = [
  "Python Development",
  "PHP Development",
  ".NET Development",
  "Laravel Development",
  "Django Development",
  "Kotlin Development",
  "Angular Development",
  "React.JS Development",
  "Unity Development",
  "LAMP Development",
  "C / C# / C++ Development",
  "Swift Development"
]
---

<Section>
  <h2>What we offer</h2>
  <div class="service-list">
    {services.map((service) => <Pill>{service}</Pill>)}
  </div>
</Section>

<style>
  .service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
</style>