---
import Section from "../components/Section.astro"
---

<Section id="vision">
  <h2>Mission</h2>
  <p>
    We are building a more generous, inclusive, and tech-enabled world where
    early-career professionals grow through service and nonprofits thrive with
    impactful tools.
  </p>
</Section>


<style>
  h2 {
    font-size: 3em;
    text-align: center;
  }
  p{
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.5em, 10vw, 2em);
  }
</style>