---
import Section from "../components/Section.astro"
---

<Section>
  <h2>
    We are building a more generous, inclusive, and tech-enabled world where
    early-career professionals grow through service and nonprofits thrive with
    impactful tools.
  </h2>
</Section>
