---
import Section from "../components/Section.astro"
---

<Section>
  <strong>
    We are building a more generous, inclusive, and tech-enabled world where
    early-career professionals grow through service and nonprofits thrive with
    impactful tools.
  </strong>
</Section>


<style>
  strong {
    font-size: 1.75em;
  }
</style>