---

---

<main>
  <section>
    <h1>
      BuildToGive connects early-career tech professionals with nonprofits to
      build digital tools, grow real-world skills, foster community, and make
      the world a little better.
    </h1>
  </section>
</main>
