---
import Section from "../components/Section.astro"
import Person from "../components/Person.astro"
import { m } from "../paraglide/messages.js"
import { getCollection } from "astro:content"


---

<Section id="people">
  <h2>{m.about_header()}</h2>
  <div class="content-container">
    <p class="content-text"> 
      {m.about_description()}
    </p>
  </div>
  <div class="card-container">
    <Person />
  </div>

</Section>

<style>
  h2 {
    text-align: center;
  }
  .content-container{
    display:flex;
  }

  @container section (width < 600px) {
    .content-container {
      grid-template-columns:1fr;
    }
  }
</style>
