---
import ButtonLink from "../components/ButtonLink.astro"
import Section from "../components//Section.astro"

---

<Section varient="primary" id="contact">
  <h2>Get Invovled</h2>
  <div class="content-container">
    <p class="content-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque tenetur eum,
    amet ea aperiam quisquam ex deleniti autem facere, in ducimus nisi eos a
    minima nobis praesentium. Libero, totam a?
  </p>
  <ButtonLink href="#" text="Learn More" />
  </div>
</Section>




<style>
  .content-container{
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
  }

  @container section (width < 600px) {
    .content-container {
      grid-template-columns:1fr;
    }
  }
</style>
