---
import Section from "../components/Section.astro"
import strings from "../data/strings.json"
import { m } from "../paraglide/messages.js"
---

<Section id="vision" varient="secondary">
  <h2>{m.mission_header()}</h2>
  <p>
    {m.mission()}
  </p>
</Section>

<style>
  h2 {
    font-size: 3em;
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.5em, 10vw, 2em);
  }
</style>
