---
import Section from "../components/Section.astro"
import Pill from "../components/Pill.astro"
import { m } from "../paraglide/messages.js"

import { getCollection } from "astro:content"

const services = await getCollection("services")
---

<Section id="services" varient="dark">
  <div class="content-container">
    <div class="content">
      <h2>{m.services_header()}</h2>
      <p>
        {m.services_description()}
      </p>
    </div>
    <ul class="service-list">
      {services.map((service) => <li>{service.data.title}</li>)}
    </ul>
  </div>
</Section>

<style>
  h2 {
    font-size: 3em;
  }
  p {
    padding-bottom: 2em;
  }
  .content-container {
    display: grid;
    grid-template-columns: [text] 3fr [list] 1fr;
    @container cont (width < 1000px) {
      grid-template-rows: [text] 1fr [list] 1fr;
      grid-template-columns: none;
    }
  }

  .service-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
</style>
