---
import Section from "../components/Section.astro"
import Pill from "../components/Pill.astro"
import strings from "../data/strings.json"

import { getCollection } from "astro:content"

const services = await getCollection("services")
---

<Section id="services" varient="dark">
  <h2>{strings["services_header"]}</h2>
  <p>
    {strings["services_description"]}
  </p>
  <div class="service-list">
    {
      services.map((service) => (
        <Pill tooltip={service.data.description}>{service.data.title}</Pill>
      ))
    }
  </div>
</Section>

<style>
  h2 {
    font-size: 3em;
    text-align: center;
  }
  p {
    padding-bottom: 2em;
    text-align: center;
    
  }
  .service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

  }
</style>
