---
import Section from "../components/Section.astro"
import together from "../assets/together.webp"
---


<Section varient="secondary" id="LetsBuild" imagelocation="right" >
  <div>
    <h2>Let's Build Together</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo tempore, quibusdam obcaecati dolores velit consectetur nobis hic. Placeat perferendis, distinctio saepe ipsum rerum provident maiores ipsa ea! Praesentium quia necessitatibus facilis id eius vero fugiat sapiente, asperiores aut enim rem debitis, iure illum perferendis dignissimos delectus exercitationem sequi? Optio, accusamus?</p>

  </div>
  <img src={together.src} alt="Paper people cutouts" />
  
  
</Section>

